
.block{
	width: 300px;
	height: 130px;
	background-color:  #8CA6E8;
	margin: 55px auto;
}
#demo1{
	position: relative;
}
#demo1:before{
	position: absolute;
	content: "";
	z-index: -1;
	bottom: 15px;
	left: 8px;
	top: 80%;
	width: 50%;
	background: #777;
	-webkit-box-shadow: 0 18px 15px #486685;
	-moz-box-shadow: 0 18px 15px #486685;
	box-shadow: 0 18px 15px #486685;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	transform: rotate(-4deg);
}

#demo2{
	position: relative;
}
#demo2:before{
	position: absolute;
	content: "";
	z-index: -1;
	bottom: 15px;
	right: 8px;
	top: 80%;
	width: 50%;
	background: #777;
	-webkit-box-shadow: 0 18px 15px #486685;
	-moz-box-shadow: 0 18px 15px #486685;
	box-shadow: 0 18px 15px #486685;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
}

#demo3{
	position: relative;
}
#demo3:before{
	position: absolute;
	content: "";
	z-index: -1;
	bottom: 15px;
	left: 8px;
	top: 80%;
	width: 50%;
	background: #777;
	-webkit-box-shadow: 0 18px 15px #486685;
	-moz-box-shadow: 0 18px 15px #486685;
	box-shadow: 0 18px 15px #486685;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	transform: rotate(-4deg);
}
#demo3:after{
	position: absolute;
	content: "";
	z-index: -1;
	bottom: 15px;
	right: 8px;
	top: 80%;
	width: 50%;
	background: #777;
	-webkit-box-shadow: 0 18px 15px #486685;
	-moz-box-shadow: 0 18px 15px #486685;
	box-shadow: 0 18px 15px #486685;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
}

#demo4{
	position: relative;
}
#demo4:before{
	position: absolute;
	content: "";
	bottom: 15px;
	left: 8px;
	top: 80%;
	width: 50%; 	background: #777;
	-webkit-box-shadow: 0 18px 15px #486685;
	-moz-box-shadow: 0 18px 15px #486685;
	box-shadow: 0 18px 15px #486685;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
	z-index: -1;
}
#demo4:after{
	position: absolute;
	content: "";
	z-index: -1;
	bottom: 15px;
	right: 8px;
	top: 80%;
	width: 50%;
	background: #777;
	-webkit-box-shadow: 0 18px 15px #486685;
	-moz-box-shadow: 0 18px 15px #486685;
	box-shadow: 0 18px 15px #486685;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
}

#demo5 {
	position: relative;
}
#demo5:before {
	position: absolute;
	content: "";
	bottom: 5px;
	left: 30px;
	right: 30px;
	top: 80%;
	background: #777;
	-webkit-box-shadow: 0 0 30px 17px #486685;
	-moz-box-shadow: 0 0 30px 17px #486685;
	box-shadow: 0 0 30px 17px #486685;
	border-radius: 100px/10px; 
	z-index: -1;
}
#demo6{
	position: relative;
}
#demo6:before{
	position: absolute;
	content: "";
	z-index: -1;
	bottom: 12px;
	left: 30px;
	right: 30px;
	top: 14px;
	background: #777;
	-webkit-box-shadow: 0 0 30px 17px #486685;
	-moz-box-shadow: 0 0 30px 17px #486685;
	box-shadow: 0 0 30px 17px #486685;
	border-radius: 100px/10px; 
}
#demo7{
	position: relative;
}
#demo7:before{
	position: absolute;
	content: "";
	bottom: 20px;
	left: 8px;
	right: 8px;
	top: 20px;
	background: #777;
	-webkit-box-shadow: 0 0 30px 10px #486685;
	-moz-box-shadow: 0 0 30px 10px #486685;
	box-shadow: 0 0 30px 10px #486685;
	border-radius:10px/40px; 
	z-index: -1;
}

#demo8{
	position: relative;
}
#demo8:before{
	position: absolute;
	content: "";
	z-index:-1;
	bottom: 20px;
	left: 8px;
	right: 8px;
	top: 20px;
	background: #777;
	-webkit-box-shadow: 0 0 30px 10px #486685;
	-moz-box-shadow: 0 0 30px 10px #486685;
	box-shadow: 0 0 30px 10px #486685;
	border-radius:10px/40px;
}
#demo8:after{
	position: absolute;
	content: "";
	z-index: -1;
	bottom: 14px;
	left: 30px;
	right: 30px;
	top: 14px;
	background: #777;
	-webkit-box-shadow: 0 0 30px 17px #486685;
	-moz-box-shadow: 0 0 30px 17px #486685;
	box-shadow: 0 0 30px 17px #486685;
	border-radius: 100px/10px; 
}

#demo9{
	position: relative;
}
#demo9:before{
	position:absolute;
	content:"";
	z-index:-1;
	top:26px;
	left:5px;
	bottom:50px;
	width:20%;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
	-webkit-box-shadow:0 10px 25px 10px #486685;
	-moz-box-shadow:0 10px 25px 10px #486685;
	box-shadow:0 10px 25px 10px #486685;
}
#demo9:after{
	position:absolute;
	content:"";
	z-index:-1;
	top:26px;
	right:5px;
	bottom:50px;
	width:20%;
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	transform: rotate(8deg);	
	-webkit-box-shadow:0 10px 25px 10px #486685;
	-moz-box-shadow:0 10px 25px 10px #486685;
	box-shadow:0 10px 25px 10px #486685;
}

#demo10{
	position: relative;
}
#demo10:before{
	position:absolute;
	content:"";
	z-index:-1;
	top:25px;
	left:20px;
	width:80%;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
	-webkit-box-shadow:10px -8px 32px 15px #486685;
	-moz-box-shadow:10px -8px 32px 15px #486685;
	box-shadow:10px -8px 32px 15px #486685;
}
#demo10:after{
	position:absolute;
	content:"";
	z-index:-1;
	width:80%;
	bottom: 25px;
	left:20px;
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	transform: rotate(6deg);
	-webkit-box-shadow:10px 8px 32px 15px #486685;
	-moz-box-shadow:10px 8px 32px 15px #486685;
	box-shadow:10px 8px 32px 15px #486685;
}